# Created by .ignore support plugin (hsz.mobi)
HomeWork_*/HomeWork_*.iml
HomeWork_*/otus-java-2017-10-Kurbatov.iml
HomeWork_*/.idea/
HomeWork_*/target/
HomeWork_*/.idea/*
HomeWork_*/target/*
HomeWork_*/dumps/*