<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="cacheEngine" class="Cache.CacheEngineImpl">
        <constructor-arg name="maxElement" value="25"/>
        <constructor-arg name="lifeTimeMs" value="500"/>
        <constructor-arg name="idleTimeMs" value="500"/>
        <constructor-arg name="isEternal" value="true"/>
    </bean>

</beans>